[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-lambda-powertools[all]" = "*"

[dev-packages]
"aws-lambda-powertools[all]" = "*"
boto3 = "*"
boto3-stubs = "*"
pytest = "*"
pytest-cov = "*"
pydantic = "*"

[requires]
python_version = "3.9"
