[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cookiecutter = "*"
pytest-cookies = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.9"
